* {
    box-sizing: border-box;
}

body {
    background-color: rgb(11, 13, 19);
    margin: 0;
    padding: 50px;
    font-family: sans-serif;
    color: rgb(136, 157, 169);
}

.name {
    margin: 10px 0 40px 0;
    color: #fff;
    font-size: 100px;
    line-height: 0.9;
}

.project {
    position: relative;
    margin: 0 0 10px 0;
}

.project:hover .inner-project-container:before {
    opacity: 1;
}

.inner-project-container {
    color: rgb(173, 173, 173);
    padding: 15px 0;
    display: block;
    text-decoration: none;
    position: relative;
}

.inner-project-container:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-size: 10px 10px;
    background-image: linear-gradient(
        -93deg,
        rgba(0, 0, 0, 0) 46%,
        #666 49%,
        #666 51%,
        rgba(0, 0, 0, 0) 55%
    );
    transition: all 0.3s;
}

.project-title {
    margin: 0;
    padding: 0 0 5px 0;
    line-height: 35px;
    font-size: 19px;
}

.project-description {
    margin: 0;
    font-size: 16px;
}

.project-tech-icon svg {
    width: 17px;
    fill: #fff;
    margin: 0 5px;
}

@keyframes rotate {
    from {
        transform: rotateX(0) translate(0px, 0px);
    }

    to {
        transform: rotatex(-180deg) translate(0px, -18px);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.rotate {
    animation-duration: 3s;
    animation-name: rotate;
    display: inline-block;
    transform: rotatex(-180deg) translate(0px, -18px);
}

.fade-in {
    animation-duration: 3s;
    animation-name: fade;
    opacity: 1;
}
